{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="row userpage">
    <form class="col-md-3" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image-container">
            <label for="id_profile_picture">
                {% if person.profile_picture %}
                <img src="{{ person.profile_picture.url }}" alt="" width="100%">
                {% else %}
                <div class="empty_box">
                    <p>Click here to upload Picture</p>
                </div>
                {% endif %}
            </label>
        </div>
        <input type="file" hidden name="profile_picture" accept="image/*" id="id_profile_picture">
        <br>
        <div class="userinfo">
            <div class="content">
                <input type="text" class="form-control" disabled placeholder="{{ person.username.groups.all.0 }}"
                    value="role: {{ person.username.groups.all.0 }}">
                <br>
                <input type="text" class="form-control" placeholder="{{ person.username }}"
                    value="{{ person.username }}">
                <br>
                <div style="display:flex">
                    <input type="text" value="{{ person.first_name }}" placeholder="{{ person.first_name }}"
                        name="first_name" class="form-control">
                    &nbsp;
                    <input type="text" value="{{ person.last_name }}" placeholder="{{ person.last_name }}"
                        name="last_name" class="form-control">
                </div>
                <br>
                <input type="text" class="form-control" placeholder="{{ person.email }}" value="{{ person.email }}"
                    name="email">
                <br>
                <input type="text" class="form-control" placeholder="{{ person.mobile }}" value="{{ person.mobile }}"
                    name="mobile">
                <br>
                <input type="text" class="form-control" placeholder="{{ person.address }}" value="{{ person.address }}"
                    name="address">
            </div>
        </div>
        <br>
        {% if person.username == request.user %}
        <button class="btn btn-primary" id="btn_person" onclick="update()">Update</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if request.user.groups.all.0.name == 'seller' %}
        <a href="#" class="btn btn-danger">Delete my account</a>
        {% elif request.user.groups.all.0.name == 'buyer' %}
        <a href="{% url 'BecomeSellerPage' %}" class="btn btn-danger">Make me seller</a>
        {% endif %}
        {% endif %}
    </form>
    <div class="col-md-9">
        {% if person.username.groups.all.0.name == 'seller' %}
        <form class="content" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{store.shop_name}}</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="store_picture">
                        <label for="id_shop_image_one">
                            {% if shop_images.all.2 %}
                            <div class="image-container">
                                <img src="{{ shop_images.all.2.image.url }}" alt="">
                            </div>
                            {% else %}
                            <div class="empty_box">
                                <p>Click here to upload Picture</p>
                            </div>
                            {% endif %}
                        </label>
                        <input type="file" name="shop_image_one" id="id_shop_image_one" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="store_picture">
                        <label for="id_shop_image_two">
                            {% if shop_images.all.1 %}
                            <div class="image-container">
                                <img src="{{ shop_images.all.1.image.url }}" alt="">
                            </div>
                            {% else %}
                            <div class="empty_box">
                                <p>Click here to upload Picture</p>
                            </div>
                            {% endif %}
                        </label>
                        <input type="file" name="shop_image_two" id="id_shop_image_two" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="store_picture">
                        <label for="id_picture_three">
                            {% if shop_images.all.0 %}
                            <div class="image-container">
                                <img src="{{ shop_images.all.0.image.url }}" alt="">
                            </div>
                            {% else %}
                            <div class="empty_box">
                                <p>Click here to upload Picture</p>
                            </div>
                            {% endif %}
                        </label>
                        <input type="file" name="shop_image_three" id="id_picture_three" hidden>
                    </div>
                </div>
            </div>
            <br>
            <div class="info row">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="shop_name" placeholder="Shop Name"
                        value="{{ store.shop_name }}">
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="shop_address" placeholder="Address"
                        value="{{ store.address }}">
                </div>
            </div>
            <br>
            {% if person.username == request.user %}
            <button class="btn btn-primary" id="btn_shop" onclick="update()">Update</button>
            {% endif %}
        </form>
        <br>
        <div class="content">
            <h2>Products</h2>
            <a href="{% url 'CreateProductPage' %}" style="float:right" class="btn btn-primary">Add Product</a>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="store_picture">
                        <div class="image-container">
                            <img src="{{ product.images.image.url }}" alt="">
                        </div>
                        <br>
                        <div class="text-center">
                            <h6>{{ product.title }}</h6>
                            <span>{{ product.price }} /- pkr</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if request.user == person.username %}
<script>
    function update() {
        document.getElementById('btn_person').click()
        document.getElementById('btn_shop').click()
    }
</script>
{% endif %}


{% endblock %}