{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <div class="nav">
        <div class="navbar">
            <div class="brand-name">
                {% if request.user.groups.all.0.name == 'admin' %}
                <a href="{% url 'IndexPage' %}" class="text-dark">Home</a>
                {% else %}
                <a href="{% url 'HomePage' %}" class="text-dark">Home</a>
                {% endif %}
            </div>
            <div class="links">
                <a href="{% url 'UserPage' %}" class="nav-link">{{ request.user }}</a>
                <a href="{% url 'OrdersViewPage' %}" class="nav-link">My Orders</a>
                <a href="{% url 'LogoutPage' %}" class="nav-link text-danger">Logout</a>
            </div>
        </div>
    </div>
    
    {% block content %}

    {% endblock %}

</body>
</html>