@import url('bootstrap.min.css');
@import url('fonts/rubik.css');


:root {
    --background-global-image: url("https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    --background-cravings-image: url("https://drive.google.com/uc?export=view&id=1TxbjxddFQyNLUrP-C3vbCLxWBRFi3IkU/");
    --background-doughnuts-image: url("https://images.unsplash.com/photo-1583096114844-06ce5a5f2171?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    --background-macroons-image: url("https://images.unsplash.com/photo-1542310503-ff8da9c02372?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}


body {
    font-family: 'Rubik';
    background: var(--background-macroons-image);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}



/* Core */
.nav {
    padding: 0px 15px;
}
.nav .navbar {
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav .navbar .brand-name {
    font-size: 40px;
}
.nav .navbar .brand-name a {
    text-decoration: none;
}
.nav .navbar .links {
    display:flex;
}
@media screen and (max-width:400px) {
    .nav .navbar .links {
        margin-left: 0;
    }
}



.homepage .products_section {
    padding: 15px;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 14px;
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(5px);
}
.homepage .products_section .col-md-4 {
    padding: 10px;
}
.homepage .products_section .col-md-4 .product {
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
.homepage .products_section .col-md-4 .image-container {
    border-radius: 14px;
    overflow: hidden;
}
.homepage .products_section .col-md-4 .image-container img {
    width: 100%;
    height: 200px !important;
}
.homepage .products_section .col-md-4 .content {
    padding: 10px;
    padding-top: 0;
    font-size: 12px;
    text-align: center;
}
.homepage .products_section .col-md-4 .content .btn-primary {
    width: 44%;
}
.homepage .cart_section {
    padding: 15px;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 14px;
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(5px);
}
.homepage .cart_section table tr th,
.homepage .cart_section table tr td {
    padding: 10px;
}


.become_seller_page .content {
    padding: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(5px);
}


.userpage {
    padding: 20px;
}
.userpage .col-md-3 {
    background-color: rgba(244, 244, 244, 0.4);
    border-radius: 14px;
    padding: 20px;
    backdrop-filter: blur(5px);
}
.userpage .col-md-3 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    overflow: hidden;
}
.empty_box {
    text-align: center;
    background-color: #242424;
    width: 270px;
    height: 200px;
    padding: 60px;
    color: #fff;
    border-radius: 14px;
}
.userpage .col-md-3 .userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.userpage .col-md-3 .userinfo .content {
    width: 100%;
    display:block;
}
.userpage .col-md-9 {
    padding: 20px;
    padding-top: 0;
}
.userpage .col-md-9 .content {
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 14px;
    padding: 20px;
}
.userpage .col-md-9 .content .col-md-4 .store_picture .image-container {
    border-radius: 14px;
    overflow: hidden;
}
.userpage .col-md-9 .content .col-md-4 .store_picture .image-container img {
    width: 270px;
    height: 200px;
}


/* Guardian */
.loginpage,
.registerpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage form,
.registerpage form {
    margin-top:10%;
    display:block;
    backdrop-filter: blur(15px);
    border-radius: 14px;
    padding: 20px;
    background-color: rgba(244,244,244,0.3);
}
.registerpage form .btn-control {
    display:flex;
    padding:0;
}
.registerpage form .btn-control input,
.registerpage form .btn-control input:active {
    border: 0;
    outline: none;
}
.registerpage form {
    width: 600px;
}
.loginpage form {
    width: 300px;
}


.forbidden {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20%;
}
.forbidden .content {
    text-align: center;
    background-color: rgba(244, 244, 244, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 14px;
    width: 300px;
    padding: 20px;
}


.order_card {
    padding: 15px 20px;
    background-color: rgba(244, 244, 244, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 14px;
    margin: 8px;
}
.order_card td {
    padding: 4px 8px;
    border: 1px solid #242424;
}
.order_card tr.bold {
    font-weight: bold;
}
.order_card tr.bold td {
    border-width: 2px;
}